html,
body,
.app,
.container {
  height: 100%;
}

body {
  background: linear-gradient(90deg, rgba(247,246,255,1) 0%, rgba(242,253,255,1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}

.form {
  width: 50%;
  max-width: 24rem;
  min-width: 16rem;
  margin: 0 auto;
}

.error {
  text-align: center;
  color: #f00;
}

.menu {
  border-bottom: 1px solid #bbb;
  background-color: #00000008;
  margin-bottom: 1rem;
}

.brand {
  float: left;
}

.menu .navigation {
  display: flex;
}

.user {
  margin-left: auto;
}

.table {
  margin: 0 auto 1rem;
}

.form .pure-group .pure-input-1-2.left,
.form .pure-group .pure-input-1-2.right {
  display: inline-block;
}

.form .pure-group .pure-input-1-2.left {
  border-radius: 4px 0 0;
}

.form .pure-group .pure-input-1-2.right {
  border-top-right-radius: 4px;
  top: 1px;
  bottom: -1px;
  margin: 0;
}


/* allow pure-menu-selected on <a> element itself to support <NavRouter> */
.pure-menu-selected.pure-menu-link,
.pure-menu-selected.pure-menu-link:visited {
    color: #000;
}

/* fix pure-group with legend */
.pure-form .pure-group input:first-of-type,
.pure-form .pure-group textarea:first-of-type {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

/* fix pure-group with single element */
.pure-form .pure-group input:only-of-type,
.pure-form .pure-group textarea:only-of-type {
    top: 0;
    border-radius: 4px;
    margin: 0;
}

/* apply pure-group styles to <select> children as well */
.pure-form .pure-group select:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
