html,
body,
.app,
.container {
  height: 100%;
}

body {
  background: linear-gradient(90deg, rgba(247,246,255,1) 0%, rgba(242,253,255,1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}

.form {
  width: 50%;
  max-width: 24rem;
  min-width: 16rem;
  margin: 0 auto;
}

.error {
  text-align: center;
  color: #f00;
}

.menu {
  border-bottom: 1px solid #bbb;
  background-color: #00000008;
  margin-bottom: 1rem;
}

.table {
  margin: 0 auto;
}

/* allow pure-menu-selected on <a> element itself to support <NavRouter> */
.pure-menu-selected.pure-menu-link,
.pure-menu-selected.pure-menu-link:visited {
    color: #000;
}

/* fix pure-group with legend */
.pure-form .pure-group input:first-of-type,
.pure-form .pure-group textarea:first-of-type {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
